
body {
	color: #F0E39E;
	background: #2C2F22;
}
a {
	color: 
	color: #;
}

/* Navigation */
#navigation {
	background: ;
}
#navigation a {
	color: #FF6533;
}
#navigation a:hover, #navigation a:focus {
	
}
#principal > :first-child {
	margin-top: 10px;
}
#principal p, #principal li {
	line-height: 1.5;
}

/* Contenu secondaire */
#secondaire {
	position: absolute; /* -> 1 */
	top: 0;
	right: 0;
	width: 180px;
	padding: 12px 20px;
}

/* Mention de copyright */
#copyright {
	margin: 20px 0;
	font-size: .85em;
	text-align: left;
}
/* LSPD */
#h1 {
	font-weight : bold;
}


/* --- NOTES ---

1.	On utilise le positionnement relatif sur div#centre afin que ce bloc serve
	de référent à ses descendants positionnés en absolu.
	Dit plus clairement: deux des trois enfants de div#centre, à savoir
	div#navigation et div#secondaire, sont positionnés en absolu. Pour ces deux
	éléments, on a utilisé les propriétés CSS top, left et right qui permettent
	d'indiquer des coordonnées de positionnement. Ces coordonnées sont données
	par rapport à un cadre de référence. Quel est ce cadre de référence?
	- Par défaut, il s'agit de la zone de visualisation du navigateur (les
	bords de la «fenêtre», donc).
	- Ou bien il s'agira du plus proche élément positionné (en absolu, relatif
	ou fixe) parmi les ancêtres de l'élément positionné en absolu.
	Si cette explication n'est pas claire, supprimez ou commentez le
	"position: relative" de div#centre, et observez ce qui se passe. Puis
	rétablissez-le et ajoutez une bordure visible à div#centre (ex:
	"border: 2px solid red;"). Cela devrait être plus clair.

2.	Le bloc de contenu principal (div#principal) est le seul des trois enfants
	de div#centre qui n'est pas positionné en absolu. Ce n'est en effet pas
	nécessaire. Comme div#principal considère que div#navigation et
	div#secondaire, tous deux positionnés en absolu, ne sont «plus là», et ne
	se placera donc pas plus bas dans la page.
	Pour éviter que les colonns latérales ne recouvrent des parties du
	contenu, il nous suffit de donner des marges à gauche et à droite à
	div#principal.

*/